*{
    margin: 0;
    padding: 0;
}

@font-face{font-family:CamphorPro-Light;src:url(./fonts/CamphorPro-Light.OTF) format("woff")}
@font-face{font-family:CamphorPro-Regular;src:url(./fonts/CamphorPro-Regular.OTF) format("woff")}
@font-face{font-weight:700;font-family:CamphorPro-Bold;src:url(./fonts/CamphorPro-Bold.OTF) format("woff")}
@font-face{font-family:CamphorPro-Thin;src:url(./fonts/CamphorPro-Thin.OTF) format("woff")}
@font-face{font-weight:900;font-family:Camphor-Heavy;src:url(./fonts/CamphorPro-Heavy.OTF) format("woff")}

.K19A .f-heavy{font-family: CamphorPro-Heavy,sans-serif; font-weight: 900; }
.K19A .f-regular{font-family: CamphorPro-Regular,sans-serif; }
.K19A .f-light{font-family: CamphorPro-Light,sans-serif; }
.K19A .f-bold{font-family: CamphorPro-Bold,sans-serif; }
.K19A .f-thin{font-family: CamphorPro-Thin,sans-serif; }
.xm-text{font-family: CamphorBro-Thin, sans-serif;} 

.K19A {
    background: #fff;
    display: inline-block;
    font-size: 16Px
}

.K19A .xm-redmi10,
.K19A .xm-text,
.K19A .xm-visible {
    opacity: 0;
    transform: translateY(2vh)
}

.K19A .is-visible .xm-redmi10,
.K19A .is-visible .xm-text,
.K19A .is-visible .xm-visible {
    opacity: 1;
    transform: translateY(0);
    transition: all 1s linear
}

.K19A .f12 {
    font-size: .046875rem
}

.K19A .f14 {
    font-size: .054688rem
}

.K19A .f16 {
    font-size: .0625rem
}

.K19A .f18 {
    font-size: .070313rem
}

.K19A .f20 {
    font-size: .078125rem
}

.K19A .f22 {
    font-size: .085938rem
}

.K19A .f24 {
    font-size: .09375rem
}

.K19A .f26 {
    font-size: .101563rem
}

.K19A .f28 {
    font-size: .109375rem
}

.K19A .f30 {
    font-size: .117188rem
}

.K19A .f32 {
    font-size: .125rem
}

.K19A .f34 {
    font-size: .132813rem
}

.K19A .f36 {
    font-size: .140625rem
}

.K19A .f38 {
    font-size: .148438rem
}

.K19A .f40 {
    font-size: .15625rem
}

.K19A .f42 {
    font-size: .164063rem
}

.K19A .f44 {
    font-size: .171875rem
}

.K19A .f46 {
    font-size: .179688rem
}

.K19A .f48 {
    font-size: .1875rem
}

.K19A .f50 {
    font-size: .195313rem
}

.K19A .f52 {
    font-size: .203125rem
}

.K19A .f54 {
    font-size: .210938rem
}

.K19A .f56 {
    font-size: .21875rem
}

.K19A .f58 {
    font-size: .226563rem
}

.K19A .f60 {
    font-size: .234375rem
}

.K19A .f64 {
    font-size: .25rem
}

.K19A .f66 {
    font-size: .257813rem
}

.K19A .f68 {
    font-size: .265625rem
}

.K19A .f70 {
    font-size: .273438rem
}

.K19A .f72 {
    font-size: .28125rem
}

.K19A .f76 {
    font-size: .296875rem
}

.K19A .f78 {
    font-size: .304688rem
}

.K19A .f80 {
    font-size: .3125rem
}

.K19A .f82 {
    font-size: .320313rem
}

.K19A .f86 {
    font-size: .335938rem
}

.K19A .f88 {
    font-size: .34375rem
}

.K19A .f90 {
    font-size: .351563rem
}

.K19A .f98 {
    font-size: .382813rem
}

.K19A .f100 {
    font-size: .390625rem
}

.K19A .f106 {
    font-size: .414063rem
}

.K19A .f108 {
    font-size: .421875rem
}

.K19A .f110 {
    font-size: .429688rem
}

.K19A .f114 {
    font-size: .445313rem
}

.K19A .f116 {
    font-size: .453125rem
}

.K19A .f120 {
    font-size: .46875rem
}

.K19A .f128 {
    font-size: .5rem
}

.K19A .f130 {
    font-size: .507813rem
}

.K19A .f138 {
    font-size: .539063rem
}

.K19A .f140 {
    font-size: .546875rem
}

.K19A .f148 {
    font-size: .578125rem
}

.K19A .f150 {
    font-size: .585938rem
}

.K19A .f160 {
    font-size: .625rem
}

.K19A .f200 {
    font-size: .78125rem
}

.K19A .section {
    box-sizing: border-box;
    min-width: 4.789063rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%
}

.K19A .section .title {
    color: #000;
    font-weight: 700
}

.K19A .section .desc {
    color: #000;
    font-weight: 300
}

.K19A .section_01 {
    background-size: contain;
    height: 5.078125rem;
    width: 10rem
}

.K19A .section_01 .logo {
    height: .40625rem;
    margin-left: .019531rem;
    width: 2.152344rem
}

.K19A .section_01 .text-container {
    padding-left: 2.265625rem;
    padding-top: 1.535156rem;
    text-align: left
}

.K19A .section_01 .sub-title {
    font-weight: 700;
    line-height: .234375rem;
    margin-top: .253906rem;
    width: 2.449219rem
}

.K19A .section_01 .desc {
    font-weight: 300;
    line-height: .125rem;
    margin-top: .082031rem;
    width: 2.449219rem
}

.K19A .section_01 .xm-text {
    display: block
}

.K19A .section_01 .redmi10 {
    margin-top: .351563rem;
    width: 7.03125rem
}

.K19A .section_01 .redmi10 .xm-redmi10__label,
.K19A .section_01 .redmi10 .xm-redmi10__mNum,
.K19A .section_01 .redmi10 .xm-redmi10__sNum {
    font-weight: 700
}

.K19A .section_01 .redmi10 .xm-redmi10__from {
    margin-right: .03125rem
}

.K19A .section_01 .redmi10 .xm-redmi10--espaco .xm-redmi10__label,
.K19A .section_01 .redmi10 .xm-redmi10__from+.xm-redmi10__label,
.K19A .section_01 .redmi10 .xm-redmi10__sNum {
    font-weight: 700
}

.K19A .section_02 {
    align-items: center;
    background-color: #000;
    background-size: contain;
    display: flex;
    height: 1.5625rem;
    width: 10rem
}

.K19A .section_02 .text-container {
    display: flex
}

.K19A .section_02 .tips_p {
    border-right: 1px solid #d6d6d6;
    padding: .109375rem .277344rem
}

.hairlines .K19A .section_02 .tips_p {
    border-right: .5px solid #d6d6d6
}

.K19A .section_02 .tips_exin {
    border-right: 1px #d6d6d6
}

.hairlines .K19A .section_02 .tips_exin {
    border-right: .5px #d6d6d6
}

.K19A .section_02 .tips {
    color: #fff;
    width: 1.9375rem
}

.K19A .section_03 {
    background-size: contain;
    height: 6.183594rem;
    width: 10rem
}

.K19A .section_03 .text-container {
    padding-left: 2.257813rem;
    padding-top: .914063rem;
    text-align: center;
    width: 5.46875rem
}

.K19A .section_03 .desc,
.K19A .section_03 .title {
    line-height: .273438rem;
    width: 5.476563rem
}

.K19A .section_03 .desc {
    margin-top: .207031rem
}

.K19A .section_03 .text-container2 {
    align-items: center;
    display: flex;
    height: 1.484375rem;
    margin-left: 2.113281rem;
    margin-top: 3.007813rem;
    text-align: left
}

.K19A .section_03 .items1,
.K19A .section_03 .items2,
.K19A .section_03 .items3,
.K19A .section_03 .items4 {
    align-items: center;
    display: flex
}

.K19A .section_03 .icon_flex {
    display: flex;
    flex-direction: column;
    margin-left: .15625rem
}

.K19A .section_03 .items2 {
    margin-left: .25rem
}

.K19A .section_03 .items3 {
    margin-left: .09375rem
}

.K19A .section_03 .items4 {
    margin-left: .152344rem
}

.K19A .section_03 .icons {
    height: .363281rem;
    width: .234375rem
}

.K19A .section_03 .tips_title {
    font-weight: 800;
    line-height: .195313rem;
    margin-top: .023438rem;
    width: 1.070313rem
}

.K19A .section_03 .tips {
    font-weight: 400;
    line-height: .117188rem;
    margin-top: .039063rem;
    width: 1.070313rem
}

.K19A .section_04 {
    background-size: contain;
    height: 5.636719rem;
    width: 10rem
}

.K19A .section_04 .title {
    margin-top: .957031rem;
    width: 5.46875rem
}

.K19A .section_04 .img {
    height: 3.828125rem;
    margin-top: .578125rem;
    width: 7.5rem
}

.K19A .section_05 {
    background-size: contain;
    height: 7.078125rem;
    width: 10rem
}

.K19A .section_05 .text-container {
    padding-top: .9375rem
}

.K19A .section_05 .title {
    line-height: .28125rem;
    width: 5.46875rem
}

.K19A .section_05 .sub-title {
    line-height: .101563rem;
    margin-top: .1875rem;
    width: 5.46875rem
}

.K19A .section_05 .image {
    margin-left: 2.265625rem;
    margin-top: .570313rem;
    position: relative;
    text-align: left
}

.K19A .section_05 .img1,
.K19A .section_05 .img2,
.K19A .section_05 .img3 {
    height: 2.445313rem;
    width: 2.675781rem
}

.K19A .section_05 .img2 {
    left: 0;
    position: absolute;
    top: 2.5625rem
}

.K19A .section_05 .img3 {
    left: 2.792969rem;
    position: absolute;
    top: 1.28125rem
}

.K19A .section_06 {
    background-size: contain;
    height: 4.804688rem;
    width: 10rem
}

.K19A .section_06 .text-container {
    padding-top: .976563rem;
    position: relative;
    text-align: left
}

.K19A .section_06 .title_desc {
    background-color: #ccc1fe;
    box-sizing: border-box;
    height: 2.71875rem;
    left: 1.273438rem;
    padding-left: .445313rem;
    padding-top: .9375rem;
    position: absolute;
    top: 1.535156rem;
    width: 3.148438rem
}

.K19A .section_06 .title {
    line-height: .273438rem;
    width: 2.367188rem
}

.K19A .section_06 .desc {
    line-height: .132813rem;
    margin-top: .277344rem;
    width: 2.367188rem
}

.K19A .section_06 .video {
    height: 3.828125rem;
    margin-left: 3.066406rem;
    width: 5.789063rem
}

.K19A .section_06 .video_1 {
    height: 3.828125rem;
    left: 3.066406rem;
    position: absolute;
    top: .976563rem;
    width: 5.789063rem
}

.K19A .section_06 .video_btn {
    height: .441406rem;
    left: 5.636719rem;
    position: absolute;
    top: 2.671875rem;
    width: .441406rem
}

.K19A .section_07 {
    background-size: contain;
    height: 7.1875rem;
    width: 10rem
}

.K19A .section_07 .text-container {
    box-sizing: border-box;
    padding-top: 1.027344rem;
    position: relative
}

.K19A .section_07 .title {
    line-height: .273438rem;
    width: 5.46875rem
}

.K19A .section_07 .items1 {
    float: left;
    padding-left: 2.265625rem;
    padding-top: .667969rem;
    text-align: left;
    width: 2.675781rem
}

.K19A .section_07 .items2 {
    float: left;
    margin-left: .078125rem;
    padding-top: 1.6875rem;
    text-align: left;
    width: 2.675781rem
}

.K19A .section_07 .img1,
.K19A .section_07 .img2 {
    height: 3.125rem;
    width: 2.675781rem
}

.K19A .section_07 .tips {
    line-height: .101563rem;
    margin-top: .15625rem;
    width: 2.140625rem
}

.K19A .section_08 {
   
    background-size: contain;
    height: 5.003906rem;
    width: 10rem
}

.K19A .section_08 .text-container {
    padding-left: 2.261719rem;
    padding-top: 1.398438rem;
    position: absolute;
    text-align: left;
    width: 3.640625rem;
    z-index: 100
}

.K19A .section_08 .title {
    line-height: .464844rem;
    width: 2.808594rem
}

.K19A .section_08 .sub-title {
    line-height: .273438rem;
    margin-top: .351563rem;
    width: 2.808594rem
}

.K19A .section_08 .desc {
    line-height: .132813rem;
    margin-top: .117188rem;
    width: 2.808594rem
}

.K19A .section_08 .video_1 {
    height: 3.59375rem;
    position: absolute;
    right: 2.617188rem;
    top: .71875rem
}

.K19A .section_08 .phone_img {
    height: 5rem;
    left: 0;
    position: absolute;
    top: 0
}

.K19A .section_09 {
    
    background-color: #222;
    background-size: contain;
    height: 3.683594rem;
    width: 10rem
}

.K19A .section_09 .text-container {
    float: left;
    padding-left: 1.726563rem;
    padding-top: 1.21875rem;
    text-align: left;
    width: 2.53125rem
}

.K19A .section_09 .title {
    color: #fff;
    line-height: .359375rem;
    width: 2.53125rem
}

.K19A .section_09 .desc {
    color: #fff;
    line-height: .132813rem;
    margin-top: .066406rem;
    width: 2.53125rem
}

.K19A .section_09 .text-container2 {
    float: left;
    padding-left: .449219rem;
    padding-top: 1.140625rem
}

.K19A .section_09 .items1,
.K19A .section_09 .items2,
.K19A .section_09 .items3 {
    box-sizing: border-box;
    float: left;
    height: 1.488281rem;
    padding-top: .265625rem;
    width: 1.367188rem
}

.K19A .section_09 .icon_flex {
    margin-top: .078125rem
}

.K19A .section_09 .items1 {
    background-color: #ccc1fe
}

.K19A .section_09 .items2 {
    background-color: #9cddff;
    margin-left: .078125rem
}

.K19A .section_09 .items3 {
    background-color: #ccc1fe;
    margin-left: .078125rem
}

.K19A .section_09 .icons {
    height: .382813rem;
    width: .390625rem
}

.K19A .section_09 .tips_title {
    font-weight: 700;
    line-height: .15625rem;
    width: 1.027344rem
}

.K19A .section_09 .tips {
    font-weight: 400;
    line-height: .097656rem;
    width: 1.027344rem
}

.K19A .section_10 {
    background-size: contain;
    height: 4.398438rem;
    width: 10rem
}

.K19A .section_10 .text-container {
    padding-left: 2.265625rem;
    padding-top: .9375rem;
    width: 5.46875rem
}

.K19A .section_10 .title {
    line-height: .28125rem;
    width: 5.46875rem
}

.K19A .section_10 .desc {
    line-height: .132813rem;
    margin-top: .1875rem;
    width: 5.46875rem
}

.K19A .section_11 {
    background-size: contain;
    height: 4.222656rem;
    width: 10rem
}

.K19A .section_11 .text-container {
    padding-left: 2.269531rem;
    padding-top: 1.488281rem;
    text-align: left;
    width: 2.832031rem
}

.K19A .section_11 .title {
    line-height: .351563rem;
    width: 2.832031rem
}

.K19A .section_11 .sub-title {
    margin-top: .058594rem;
    width: 2.832031rem
}

.K19A .section_11 .desc {
    line-height: .132813rem;
    margin-top: .464844rem;
    width: 2.832031rem
}

.K19A .section_12 {
    background-size: contain;
    height: 4.609375rem;
    width: 10rem
}

.K19A .section_12 .text-container {
    padding-left: 5.160156rem;
    padding-top: 1.851563rem;
    text-align: left
}

.K19A .section_12 .sub-title,
.K19A .section_12 .title {
    line-height: .38125rem;
    width: 3.769531rem
}

.K19A .section_12 .sub-title {
    margin-top: .238281rem
}

.K19A .section_12 .desc {
    line-height: .132813rem;
    margin-top: .183594rem;
    width: 3.769531rem
}

.K19A .section_13 {
   
    background-size: contain;
    height: 5.625rem;
    width: 10rem
}

.K19A .section_13 .text-container {
    padding-left: 2.265625rem;
    padding-top: .804688rem;
    width: 5.46875rem
}

.K19A .section_13 .title {
    color: #fff;
    line-height: .273438rem;
    width: 5.46875rem
}

.K19A .section_13 .desc {
    color: #fff;
    line-height: .132813rem;
    margin-top: .183594rem;
    width: 5.46875rem
}

.K19A .section_13 .text_flex {
    display: flex;
    justify-content: space-between;
    margin: .246094rem auto 0;
    width: 3.828125rem
}

.K19A .section_13 .tips_title {
    line-height: .164063rem;
    width: 1.171875rem
}

.K19A .section_13 .items {
    border: 1px solid #555;
    color: #fff;
    padding-bottom: .058594rem;
    padding-top: .128906rem;
    width: 1.171875rem
}

.hairlines .K19A .section_13 .items {
    border: .5px solid #555
}

.K19A .section_13 .tips {
    line-height: .117188rem;
    width: 1.171875rem
}

.K19A .section_14 {
   
    background-size: contain;
    height: 5.148438rem;
    width: 10rem
}

.K19A .section_14 .text-container {
    padding-left: 5.695313rem;
    padding-top: 2.011719rem;
    text-align: left
}

.K19A .section_14 .title {
    line-height: .429688rem;
    width: 3.710938rem
}

.K19A .section_14 .sub-title {
    margin-top: .390625rem
}

.K19A .section_14 .text_flex {
    display: flex;
    margin-top: .117188rem
}

.K19A .section_14 .items,
.K19A .section_14 .items_2 {
    border-right: 1px solid #919191;
    display: flex;
    flex-direction: column;
    height: .445313rem
}

.hairlines .K19A .section_14 .items,
.hairlines .K19A .section_14 .items_2 {
    border-right: .5px solid #919191
}

.K19A .section_14 .items {
    padding-right: .28125rem
}

.K19A .section_14 .items_2 {
    border-right: 1px #000;
    margin-left: .28125rem
}

.hairlines .K19A .section_14 .items_2 {
    border-right: .5px #000
}

.K19A .section_14 .desc {
    line-height: .273438rem
}

.K19A .section_14 .tips {
    line-height: .113281rem;
    margin-left: .019531rem;
    margin-top: .066406rem
}

.K19A .section_15 {
    background-size: contain;
    height: 4.757813rem;
    width: 10rem
}

.K19A .section_15 .text-container {
    padding-left: 1.742188rem;
    padding-top: 1.894531rem;
    text-align: left;
    width: 3.515625rem
}

.K19A .section_15 .title {
    font-weight: 700;
    width: 3.203125rem
}

.K19A .section_15 .desc {
    font-weight: 300;
    margin-top: .039063rem;
    width: 3.203125rem
}

.K19A .section_16 {
    background-size: contain;
    height: 2.109375rem;
    padding-left: 1.863281rem;
    padding-top: .859375rem;
    width: 10rem
}

.K19A .section_16 .text-container {
    display: flex
}

.K19A .section_16 .items {
    display: flex;
    flex-direction: column;
    margin-right: .3125rem;
    text-align: center
}

.K19A .section_16 .img {
    height: .382813rem;
    margin: 0 auto;
    width: .382813rem
}

.K19A .section_16 .desc {
    margin-top: .105469rem;
    width: 1.867188rem
}

.K19A .section_17 {
    
    background-size: contain;
    height: 2.558594rem;
    margin-top: -.117188rem;
    width: 10rem
}

.K19A .section_17 .text-container {
    padding-left: 1.714844rem;
    padding-top: 1.40625rem;
    text-align: left;
    width: 3.515625rem
}

.K19A .section_17 .title {
   color: #fff;
    width: 2.164063rem
}

.K19A .section_18 {
    padding: .695313rem 0 .859375rem 1.648438rem;
    text-align: left
}

.K19A .section_18 .desc {
    color: grey;
    display: block;
    line-height: .140625rem;
    width: 6.5625rem
}

.edit-section {
    color: #424242;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 0 30px
}

.xm-redmi10--origin {
    font-size: .6em;
    text-decoration: line-through
}

.xm-redmi10 .xm-redmi10__from,
.xm-redmi10 .xm-redmi10__label,
.xm-redmi10 .xm-redmi10__sNum {
    margin: 0 3px
}

.xm-redmi10 span:first-child {
    margin-left: 0
}

.xm-redmi10 span:last-child {
    margin-right: 0
}

.xm-redmi10 .xm-redmi10--espaco .xm-redmi10__label,
.xm-redmi10 .xm-redmi10--espaco .xm-redmi10__sNum {
    margin: 0 3px
}

.xm-redmi10 .xm-redmi10--espaco span:first-child {
    margin-left: 0
}

.xm-redmi10 .xm-redmi10--espaco span:last-child {
    margin-right: 0
}

.text_container--title {
    color: #424242;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 20px 0 12px
}

.text_container--font {
    align-items: center;
    display: flex;
    margin-bottom: 20px
}

.text_container--pos {
    display: flex;
    justify-content: space-between
}

.text_container .img-label {
    background-image: url(https://cnbj1.fds.api.xiaomi.com/mi-com-product/assets/icon.png);
    background-position: -76px 0;
    display: inline-block;
    height: 22px;
    margin-right: 20px;
    vertical-align: middle;
    width: 26px
}

.text_container .text-label {
    color: #999;
    font-size: 14px;
    line-height: 20px;
    margin-right: 20px
}

.text_container .btn-container {
    margin-top: 20px;
    text-align: right
}

.text_container .eye {
    background-image: url(https://cnbj1.fds.api.xiaomi.com/mi-com-product/assets/icon.png);
    background-position: -74px -22px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    margin-left: 160px;
    width: 24px
}

.text_container .eye.open {
    background-position: -75px -47px
}

.text_container .tips {
    color: #c9c9c9;
    font-size: 14px;
    font-weight: 400;
    margin: 10px 0 0 45px
}

.text_container .pos-item {
    font-size: 14px
}

.edit-input {
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 40px;
    text-align: center;
    width: 110px
}



@keyframes loader {
    0% {
        opacity: .2;
        transform: scaleY(.5)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

.xm-text {
    display: inline-block;
    white-space: break-spaces
}

.xm-blur {
    opacity: .3 !important
}

.hide {
    display: none
}

.xm-update {
    position: relative
}

.section {
    background-repeat: no-repeat;
    margin-bottom: -1PX
}

.redmi10-common {
    font-family: CamphorPro-Light;
    font-size: .257813rem
}

.redmi10-common .xm-redmi10__from {
    font-size: 60%;
    margin: 0 .039063rem
}

.redmi10-common .xm-redmi10__sNum {
    font-family: CamphorPro-Bold;
    margin: 0
}

.redmi10-common .xm-redmi10__label {
    font-size: 60%;
    margin: 0
}

.redmi10-common .xm-redmi10--current .xm-redmi10__label {
    font-family: CamphorPro-Bold;
    font-size: 100%
}

.redmi10-common .xm-redmi10--espaco {
    margin-right: .039063rem
}

.redmi10-common .xm-redmi10--espaco .xm-redmi10__label,
.redmi10-common .xm-redmi10--espaco .xm-redmi10__sNum {
    margin: 0
}

.redmi10-common .xm-redmi10--origin .xm-redmi10__label {
    font-size: 100%
}

.redmi10-common .xm-redmi10--origin .xm-redmi10__mNum {
    margin: 0
}

.scroll-common .slick-slider .slick-dots li>button {
    background-color: initial;
    border: .007813rem solid #fff;
    border-radius: 50%;
    height: .054688rem;
    padding: 0;
    text-indent: -39.058594rem;
    width: .054688rem
}

.scroll-common .slick-slider .slick-dots li.slick-active>button {
    background-color: #fff
}

.scroll-common .slick-slider .slick-arrow {
    height: .195313rem;
    width: .195313rem
}

.scroll-common .slick-slider .slick-prev {
    background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/left.png) no-repeat;
    background-size: 100% 100%
}

.scroll-common .slick-slider .slick-next {
    background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/right.png) no-repeat;
    background-size: 100% 100%
}

.scroll-common-grey .slick-slider .slick-dots li>button {
    background-color: initial;
    border: .007813rem solid #fff;
    border-radius: 50%;
    height: .054688rem;
    padding: 0;
    text-indent: -39.058594rem;
    width: .054688rem
}

.scroll-common-grey .slick-slider .slick-dots li.slick-active>button {
    background-color: #fff
}

.scroll-common-grey .slick-slider .slick-arrow {
    height: .195313rem;
    width: .195313rem
}

.scroll-common-grey .slick-slider .slick-prev {
    background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/left-grey.png) no-repeat;
    background-size: 100% 100%
}

.scroll-common-grey .slick-slider .slick-next {
    background: url(//i01.appmifile.com/webfile/globalimg/zh/2021/right-grey.png) no-repeat;
    background-size: 100% 100%
}

.scroll-small li>button {
    border-radius: 0;
    height: .023438rem;
    margin: 0 .03125rem;
    width: .195313rem
}

.scroll-small .slick-slide div img {
    border-radius: .195313rem
}